@page "/hangingman"
<PageTitle>Hanging Man</PageTitle>

@using BlazorHaningman.Model
@using BlazorHaningman.Services
@using System.Text.RegularExpressions;
@using Microsoft.AspNetCore.Components;
@inject WordService wordService

<section id="haning-man">
    <h1>Hanging man</h1>

    @if (startedGame && newWord != string.Empty)
    {
        <article class="game">

            <h2>
                @foreach (var letter in letterList)
                {
                    @letter.LetterShowing;
                }
            </h2>

            @if (lives != 0 || lettersLeft == 0)
            {
                <label for="input-letter">Guess a letter:</label>
                <input class="guessing-Letter" type="text" @bind-value="yourLetter" @onkeyup="@onEnterClick" name="input-letter" />
                <button class="btn btn-primary" @onclick="yourGuess">Guess Letter</button>
            }

            @if (guessedLetter.Any())
            {
                <h4>
                    You have tried with:
                    @foreach (var guess in guessedLetter)
                    {
                        @guess;
                    }
                </h4>
            }

            @if (infoText != string.Empty)
            {
                <h2>@infoText</h2>
            }
        </article>
        <article class="game-lives">
            <div id="lives">@lives</div>
            <div id="heart"></div>
        </article>

    }

    <button class="btn btn-success" @onclick="startGame">@startNewGame</button>
</section>